// ======================================
//  Partial Imports
// ======================================

// Utilities
@import 'utilities/variables',
        'utilities/mixins';
        
// Base Styles    
@import 'base/reset',
        'base/base';

// Component Styles
@import 'components/buttons',
        'components/forms',
        'components/tooltips';

// Layout Styles
@import 'layout/header',
        'layout/banner',
        'layout/card',
        'layout/about',
        'layout/news',
        'layout/clients',
        'layout/newsletter',
        'layout/footer';